<section class="content">
    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Pembelian</h3>
                </div>

                <div class="box-body">

                    <div class="row">

                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tanggal</label>

                                <div class="col-sm-8">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="hidden" id="id_pesanan">
                                        <input type="text" class="form-control pull-right" id="tanggal_pembelian" disabled="disabled">
                                    </div>
                                </div>
                            </div>

                            <br/>
                            <br/>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <table id="itemPembelian" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Nama Barang</th>
                                            <th>Qty</th>
                                            <th>Harga Beli</th>
                                            <th>Supplier</th>
                                            <th>Update</th>
                                        </tr>
                                        </thead>
                                        <tbody >

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="col-sm-8">
                                <button type="button" id="btnSavePembelian" class="btn btn-success">Simpan</button>
                            </div>
                        </form>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
